ruby:
  @sidebar = 'services/aside/accreditation'
  @title = t 'service.accreditation.title'
  @keywords = t 'service.accreditation.keywords', default: ''
  @description = t 'service.accreditation.description', default: ''
  @header = t 'service.accreditation.header'


.accreditation
