ruby:
  @title = t 'service.certification.title'
  @keywords = t 'service.certification.keywords', default: ''
  @description = t 'service.certification.description', default: ''
  @header = t 'service.certification.header'
